<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h2>login page</h2>
    <form action="/login" method="post">
        <label for="">ID</label>
        <input type="text" name="user_id">
        <label for="">PW</label>
        <input type="text" name="user_pw">
        <!-- post 방식의 요청에 대한 내용은 객체에 저장 {user_id : 인풋 밸류, user_pw : 인풋 밸류} -->
        <button>login</button>
    </form>
</body>
</html>