<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>로그인 페이지</h2>
    <!-- 입력 값을 보내서 있는 유저인지 검사를 하니까.. -->
    <!-- 데이터를 주고 요청을 해야하니까 -->
    <!-- post 방식을 사용해야한다. -->
    <form action="/login" method="post">
        <!-- 액션에 지정을 안 해주면 현재 페이지가 기본값이다. -->
        <label for="">아이디</label>
        <input type="text" name = "user_id">
        <label for="">비밀번호</label>
        <input type="text" name="user_pw">
        <!-- 보낸 값에 name 추가해서 지정해주는 것 -->
        <!-- 어떻게 넘어가냐면 -->
        <!-- {user_id : name 속성에 user_id를 가지로 있는 input value, user_pw : name속성에 user_pw를 가지고 있는 input value} -->
        <!-- {user_id : 1, user_pw : 2} -->
        <!-- 이런식으로 들어간다. -->
        <button>로그인</button>
    </form>
</body>
</html>