<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 오류가 날 경우는 쿼리문이 터지거나 -->
    <!-- 유저 테이블 가운데 스패너처럼 생긴 부분에 pk가 프라이머리 키인데 -->
    <!-- 프라이머리는 고유한 값인데 그게 id로 되어 있을 거다 -->
    <!-- 그럼 유저 아이디는 겹치면 안 되는 건데 -->
    <!-- 그걸 또 추가하라고 시키면 오류가 난다. -->
    <!-- 그럼 아이디가 있다는 뜻이니까 아이디 중복이라고 만들자 -->
    <h2>아이디가 중복됨</h2>
</body>
</html>